html
	head
		title Socket.IO chat
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/static/css/bootstrap.css')
		link(rel='stylesheet', href='/static/css/style.css')
	body
		.container
			.col-xs-8
				.panel.panel-default
					.panel-heading
						h3.panel-title Room
					.panel-body.chat-panel
						#message-list
							
					form#form-chat
						.input-group
							input#chattext.form-control(type='text', placeholder='输入你想要发送的消息')
							span.input-group-btn
								button.btn.btn-default(type='submit') Send
			.col-xs-4.pull-right
				.panel.panel-default
					.panel-heading
						h3.panel-title Users
					.panel-body.chat-panel
						#user-list
							span#userName {{ users }}
	script(src='/socket.io/socket.io.js')
	script.
		var socket = io();
	script(src='/socket.io/socket.io.js')
	script(src='/static/js/jquery.js')
	script(src='/static/js/custom.js')
	script(src='/static/js/vue.js')
	script(src='/static/js/bootstrap.js')